@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --darkBlue: #1F2330;
  --lightBlue: #2397D4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  min-width: 380px;
}

h1, h2, h3 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

h1  {
  font-size: 2.2em;
  letter-spacing: 2px;
}

h2 {
  margin-bottom: .4em;
  color: #313131;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2.5em;
}

.mb-1{
  margin-bottom: 1em;
}

.width-max {
  width: 100%;
}

.width-85 {
  width: 85%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.inline {
  display: inline;
}
 .row {
   display: flex;
   align-items: center;
 }

header {
  background-color: var(--lightBlue);
  height: 2.8em;
}

.banner {
  color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;

}


.banner, .fas  {
  color: whitesmoke;
}

.spinner {
  animation: rotator 1.4s linear infinite;
  margin: auto;
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.container {
  max-width: 800px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.vehicle .fas, .fa-credit-card, .fa-list-alt, .fa-info-circle {
  color: darkgrey;
  padding-left: .5em;
  color: #e7bb41;
}

.vehicle-info {
  display: grid;
  grid-template-columns: 1.3fr 1fr;

  align-items: center;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  border-radius: 3px;
  padding: .5em 1em;
}

ul {
  list-style: none;
  margin-left: 1em;
  line-height: 1.5em;
}

.vehicle-info-row {  
  display: flex;
  justify-content: space-between;

}
.vehicle-image {
  margin:auto;
}

.button {
  padding: 10px 20px;
  background-color: var(--lightBlue);
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  transition: all .2s ease-in-out;
  font-size: 1em;
}

.button:hover {
  transform: scale(1.1);
}

.login-form {
  width: 50%;
  padding: 2em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.login-button-wrapper {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.fa-plus {
  margin-right: .5em;
}

.requests-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requests-list {
  margin-top: 1em;
  margin-bottom: 4em;
  border-radius: 4px;
  font-size: 1em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.request-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: .5em;
}

.request-row-header {
  background-color: var(--lightBlue);
  color: whitesmoke;
  font-weight: bold;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.request:nth-child(odd){
  background-color: #f0f0f0;
}

span {
  margin-left: .5em;
}

.form-loader {
  width: 60px;
  margin: auto;
  margin-top: 2em;
}

.message {
  margin: 2em;
  padding: 1em;
  background-color: white;
  border-radius: 2px;
  border: 2px solid #8FEEC3;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  width: max-content;
  font-weight: bold;
  transform: skewX(-8deg);
}

.error {
  border-color:#F63B3D;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: var(--lightBlue);
  color: whitesmoke;
  font-size: 1em;
}

footer img {
  width: 2.5em;
  height: 2.5em;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@media only screen and (max-width: 600px) {
  .requests-list {
    font-size: .75em;
  }

  .vehicle-info {
    display: flex;
    flex-direction: column;
    font-size: .75em;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    margin-bottom: .2em;
    font-size: 1.2em;
  }

  footer {
    position: relative;
    margin-top: 2em;
  }

}

