@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  min-width: 380px;
}

h1  {
  font-size: 1.8em;
}

h2 {
  margin-bottom: .5em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.ml-2 {
  margin-left: 2.5em;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header {
  background-color: #2397D4;
  height: 2.8em;
}

.banner {
  color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner, .fas  {
  color: whitesmoke;
}

.spinner {
  animation: rotator 1.4s linear infinite;
  margin: auto;
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.container {
  max-width: 800px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.vehicle .fas, .fa-credit-card, .fa-list-alt{
  color: darkgrey;
  padding-left: .5em;
  color: #e7bb41;
}

.vehicle-info {
  display: grid;
  grid-template-columns: 1.3fr 1fr;

  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1em;
}

.vehicle-info-row {  
  display: flex;
  justify-content: space-between;

}
.vehicle-image {
  margin:auto;
}

.requests-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 10px 20px;
  background-color: #2397D4;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  transition: all .2s ease-in-out;
  text-shadow: 1px 1px black;
  font-size: 1em;
}

.button:hover {
  transform: scale(1.1);
}

.login-button-wrapper {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.fa-plus {
  margin-right: .5em;
}

.requests-list {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

.request:nth-child(odd){
  background-color: #e5e5e5;
}

.request-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: .75em;
}

.request-row-header {
  background-color: #2397D4;
  color: whitesmoke;
  font-weight: bold;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-shadow: 1px 0 black;
}

li {
  list-style: none;
  line-height: 2em;
}

span {
  margin-left: .5em;
}

.form-loader {
  width: 60px;
  margin: auto;
}

.message {
  margin: 2em;
  padding: 1em;
  background-color: white;
  border-radius: 3px;
  border: 2px solid #8FEEC3;
  box-shadow: 0  2px rgba(255, 255, 255, 10);
  width: max-content;
  font-weight: bold;
}

.error {
  border-color:#F63B3D;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #2397D4;
  color: whitesmoke;
  font-size: 1em;
}
footer img {
  width: 2.5em;
  height: 2.5em;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@media only screen and (max-width: 600px) {
  .requests-list {
    font-size: .75em;
  }

  .vehicle-info {
    display: flex;
    flex-direction: column;
    font-size: .75em;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    margin-bottom: .2em;
    font-size: 1.2em;
  }

  footer {
    position: relative;
    margin-top: 2em;
  }

}

