.fuelcard {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  border-radius: 3px;
  padding: 1em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fuelcard-col {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.service-image {
    width: 1.75em;
    height: 1.75em;
}

@media only screen and (max-width: 600px) {
    .fuelcard {
        grid-template-columns: 1fr;
    }

    .fuelcard-col {
        justify-content: space-between;
        margin: .5em 2em;
    }
}