.driver-details {
    width: 300px;
    margin: auto;
    margin-top: 2em;
    padding: 3em;
}

.fas.fa-info-circle {
    color: darkgrey;
    margin-bottom: 2em;;
}

.driver-details-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mx-auto {
    margin:auto;
}