.request-form {
    width: 50%;
    margin: auto;
    margin-top:4em;    
}

.form-group {
    margin-bottom: 2.4em;
}

.form-item {
    line-height: 2.5em;
    margin-top: 1em;
}

input, select {
    height: 2em;
    width: 85%;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

label {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 2px;
}

.button-group  {
    margin-top: 4em;
    display: flex;
    justify-content: space-evenly;
}

.button {
    font-size: 1.2em;
    border: none;
}

.button-cancel {
    background-color:#D49823;
}

.message {
    margin: 2em;;
    padding: 1em;
    background-color: white;
    border-radius: 3px;
    border: 2px solid #8FEEC3;
    box-shadow: 0  2px rgba(255, 255, 255, 10);
}

.error {
    border-color:#F63B3D;
}