@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

h1  {
  font-size: 1.8em;
}

h2 {
  margin-bottom: .5em;
}

header {
  background-color: #2397D4;
  height: 2.8em;

}

.banner {
  color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner, .fas {
  color: whitesmoke;
}

.spinner {
  animation: rotator 1.4s linear infinite;
  margin: auto;
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
.container {
  max-width: 800px;
  margin: auto;
}

.vehicle {

  margin-top: 4em;
  
}
.vehicle .fas {
  color: darkgrey;
  padding-left: .5em;
}

.vehicle-info {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 1em;
}

.vehicle-info-row {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.requests {
  margin-top: 5em;

}

.requests-list {
  margin-top: 2em;
}

.request-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: .75em;
  border-bottom: 1px solid darkgrey;
}


.request-row-header {
  background-color: #2397D4;
  color: whitesmoke;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.requests .far {
  color: darkgrey;
  padding-left: .5em;
}


li {
  list-style: none;
  line-height: 2em;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #2397D4;

  color: whitesmoke;
  font-size: 1.4em;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}